.task{
    background-color: gray;
    padding-top: 5px;
    margin: 5px;
    cursor: pointer;
}

.task.reminder{
    border-left: 5px solid green;
}
.task h3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
